body {
  background: #fff;
  padding-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #343232;
}

#main {
  background: #efebeb;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

#title {
  padding-top: 20px;
  padding-bottom: 3px;
}

#title > p {
  text-align: center;
  font-size: 1.1em;
}

#image {
  max-width: 100%;
  margin: 0 auto;
}

figure {
  display: block;
  background: white;
  margin: 0 15px;
  padding: 30px 0;
}

img {
  display: block;
}

#img-caption {
  text-align: center;
  margin-top: 20px;
}
